<a href="https://colab.research.google.com/github/20v100/Coursera_Capstone/blob/master/torontoPostalCodeCoordinate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Adding Lat Long coordinatinates to Toronto postal code coordinates

**Vincent Gauthier**

In [0]:
# Import packages
# import requests
# from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

# Mount Google Drive
# from google.colab import drive
# drive.mount('/content/drive')

In [7]:
# Import the Toronto CSV file with the postal codes
df_pc = pd.read_csv('torontoPostalCode.csv')
print('Postal Code imported')

Postal Code imported

In [8]:
# Imports the coordinate file with the postal codes 
df_cor = pd.read_csv('Geospatial_Coordinates.csv')
print('Coordinated imported')

Coordinated imported

In [11]:
df_cor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
df_pc.head()

   Unnamed: 0 PostalCode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [13]:
# Merging the two data frames
new_df = pd.merge(df_pc, df_cor, how='left', left_on=['PostalCode'], right_on = ['Postal Code'])
new_df.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge, Malvern",M1B,43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

In [14]:
# Dropping redundant columns
new_df.drop(['Postal Code', 'Unnamed: 0'], axis=1, inplace=True)
new_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [15]:
new_df.shape

(103, 5)